* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.brand-name {
  font-family: "Inter UI", sans-serif;
}

/* .nav-options {
  display: flex;
} */
.textFont {
  font-family: "Roboto Slab", serif;
}

/* Custom hover animation */
@keyframes underline-animation {
  0% {
    text-decoration: none;
  }
  100% {
    text-decoration: underline;
  }
}

/* Apply the animation on hover */
.text-animation:hover {
  animation-name: underline-animation;
  animation-duration: 0.5s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-fill-mode: both;
  margin-top: 2px;
}
